* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button {
  font:
    36px "times new roman",
    serif;
  text-transform: uppercase;
  color: #000;
  border: #000 2px solid;
  border-radius: 12px;
  background-color: #fff;
  width: 260px;
  height: 80px;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

button:active {
  animation: 0.3s linear gummy-btn-press;
}

@keyframes gummy-btn-press {
  75% {
    transform: scale(0.85);
    border-radius: 32px;
  }
  100% {
    transform: scale(0.9);
    border-radius: 20px;
  }
}
